
/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #e5e5bb;
  background-image: url(leaf.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}

code {
  font-face: "courier new", courier, monospace;
}

/* Unset borders set in system.css. Why it is setting borders with such a broad stroke is beyond me, maybe themes shouldn't use tables :-) */
/*
tbody {
  border-top: 1px solid #ccc;
}
tbody th {
  border-bottom: 1px solid #ccc;
}
thead th {
  text-align: left; 
  padding-right: 1em; 
  border-bottom: 3px solid #ccc;
}
*/


a {
  text-decoration: none;
  font-weight: bold;
}


a, a:link, a:active {
  color: #82403d;
}
a:visited {
  color: #410003;
}
#main div.breadcrumb a:hover,
#main ul.tabs a:hover,
#main a:hover,
a:hover{
  background-color: #feffdf;
}

/* ..................................................................*/

/* For links in main and head, add a nice grape */
.comment a,
#footer a,
#header .site-name a,
#main h2 a,
#main .node a:link,
#main .node a:visited {
  font-weight: bold;
  background-image: url(marja-10-15.gif);
  background-position: 1px 100%;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-bottom: 1px;
  /* Note that in the future the :before pseudo-element can be used to do this.
     Supported in FireFox 1.5 only. */
}

/* Remove grape from book texts */
/* Remove grape from drupal standard node links (tags, add comment, etc...) */
#main .submitted a:link,
#main .submitted a:visited,
#main .taxonomy .links a:link,
#main .taxonomy .links a:visited,
#main .links .links a:link,
#main .links .links a:visited,
#main div.book div.content a:link,
#main div.book div.content a:visited {
  background-image: none;
  padding-left: 0px;
  padding-bottom: 0px;
}



/* More fine tuning for tabs: Active tab has same bgcolor as body
   Tidy borderlines */
#main ul.primary li a {
  background-color: #e5e5bb;
  border-bottom: 1px solid #bbb;
}

#main ul.primary li.active a.active {
  background-color: #e5e5bb;
  border-bottom: none;
  padding-bottom: 1px;
}

#main ul.primary {
  margin-top: 2em;
  margin-bottom: 1em;
}
/* Strip disc from Navigation menu (and possibly others?) */
#sidebar-right li,
#sidebar-left li.leaf {
  list-style-type: none;
  list-style-image: none;
}
/* Did not work in IE6...*/
ul > li.expanded,
ul > li.collapsed {
  list-style-position: inside;
}

/* Move the "navigation2" menu item away from the first menu and make it smaller*/
#block-menu-menu-navigation2 {
  position: relative;
  left: -1em;
  top: -1em;
  font-size: 0.8em;
}
#block-menu-menu-navigation2 a {
  font-weight: normal;
  color: #000000;
}

/* ..................................................................*/


fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/
#header {
  width: 100%;
}
#header .block {
  text-align: right;
}
#logo {
  vertical-align: middle;
  border: 0;
}
#logo img {
  float: left; /* LTR */
  padding: 0 1em;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em; /* LTR */
  text-align: right; /* LTR */
  vertical-align: middle;
}
#navlist {
  font-size: 1.0em;
  padding: 0 0.8em 1.2em 0; /* LTR */
  color: #9cf;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0; /* LTR */
  font-size: 0.8em;
  color: #9cf;
}
#subnavlist a {
  font-weight: bold;
  color: #9cf;
}
ul.links li {
  border-left: 1px solid #9cf; /* LTR */
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #bcbcc1;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#mission {
  padding: 1.5em 2em;
}
.site-name {
  margin: 0.6em 0 0 ;
  padding: 0;
  font-size: 2em;
}
.site-slogan {
  font-size: 1em;
  display: block;
  margin-left: 1em;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0.5em;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  padding-right: 60px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;
}
#sidebar-left {
  padding-top: 4em;
}
#sidebar-right {
  padding-top: 4em;
}

#footer {
  padding: 1em;
  font-size: 0.8em;
  text-align: right;
}


/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
#main h1.title, #main h1.title a{
  font-size: 1.5em;
  margin-bottom: .5em;
}

.submitted {
  color: #999;
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 2em; /* LTR */
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0; /* LTR */
}
.block {
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em; /* LTR */
}
.sticky {
  padding: .5em;
  border: 2px solid #bcbcc1;
  margin-bottom: 1em;
  background-color: #feffdf;
}
.node .content, .comment .content {
  margin: .5em 0 .5em;
}
.node .taxonomy {
  font-size: 0.8em;
  padding-left: 1.5em; /* LTR */
}
.node .picture {
  float: right; /* LTR */
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
  background: #feffdf;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
  color: red;
}
.comment .picture {
  float: right; /* LTR */
  margin: 0.5em;
}
/* ................................................................ */
#comment-controls, #comment-controls-1 {
  margin-top: 2em;
  margin-bottom: 2em;
}

#comment-controls *, #comment-controls-1 * {
  background-color: #e5e5bb;
}
#comment-controls-1 .description,
#comment-controls-1 .title,
#comment-controls .description,
#comment-controls .title {
  display: none;
}
/* ................................................................ */
/*
** Module specific styles
*/



/* ................................................................ */

div.book {
  font-family: "Times New Roman", serif;
  font-size: 1.1em;
}

div.book div.content,
div.forum,
div.comment {
  border: 2px solid #bcbcc1;
  margin-bottom: 1em;
  padding: 1em 1em 1em 1em;
  /* background: #feffbf;*/
  background: #feffdf;
}

div.book div.content blockquote {
  margin-left: 5em;
  font-family: "Courier New", "Courier", monospace;
  font-style: normal;
  font-size: 0.8em;
}

/* ................................................................ */


#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
